

.cardapio__box{
    background: var(--background);
    border-bottom:1px solid var(--destaque-claro) ;
}

.cardapio__container{
    padding: 8rem 0px;
}

.box-cardapio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 50px;
}

.cardapio__header{
    width: 800px;
}


.cardapio__detail{
    color: var(--destaque);
    text-transform: uppercase;
    font-family: var(--font-family);
    letter-spacing: 0.3em;
    font-size: 0.8rem;
    position: relative;
    margin-left: 40px;
}

.cardapio__detail::before{
    content: '';
    position: absolute;
    top: 8px;
    left: -40px;
    background: var(--destaque);
    height: 0.8px;
    width: 30px;
}

.cardapio__title{
    color: var(--creme);
    font-family: var(--font-family2);
    font-size: 3.8rem;
    font-weight: 100;
    padding: 10px 0px;
}

.cardapio__description{
    color: var(--destaque);
    font-family: var(--font-family);
    margin: 20px 0px;
    font-size: 0.97rem;
    width: 70%;
    line-height: 1.5em ;
}

img{
    width: 100%;
    object-fit: cover;
    height: 700px;
    display: block;
}

.img__box{
    overflow: hidden;
}
.img__box img{
     transition: transform 0.5s;
}

.img__box:hover img{
    transform: scale(1.08);
}
.parto__container{
    font-family: var(--font-family2);
}

.prato__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.prato__box h3{
    color: var(--creme);
    font-weight: 100;
}


.prato__box span{
    color: var(--destaque);
}

.prato__japan{
    color: var(--destaque);
}

.prato__description{
    color: var(--destaque-claro);
    padding: 10px 0px;
    font-size: 0.95rem;
}

.box-reserva{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservar{
    text-align: center;
    text-decoration: none;
    color: var(--destaque);
    text-transform: uppercase;
    margin: 30px 0px;
    position: relative;
    font-family: var(--font-family);
    cursor: pointer;
    
}

.reservar::before{
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--destaque);
    transition: 0.7s;
}


.reservar:hover{
    color: var(--creme);
}
.reservar:hover::before{
    background: var(--creme);
}
