.box-container{
    background: url(../imgs/background-image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}

.box-shadow{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.527), rgba(9, 10, 9, 0.185));
}