:root{
    --font-family: "Zen Kaku Gothic New", sans-serif;
    --font-family2: "Shippori Mincho", serif;
    --creme: #e8e2d6;
}


.header{
    background: url(../imgs/background-image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    font-family: var(--font-family2);
    text-transform: uppercase;
}

.box-shadow{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.527), rgba(9, 10, 9, 0.185));
}

.header-box{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
    transition: background 0.3s ease;
}

.navbar.scrolled {
    background: rgba(0, 0, 0, .95);
}

.box-header{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 20px;
}

.box-logo{
    color: var(--creme);
}

.logo {
    text-decoration: none;
    color: var(--creme);
    background-color: #b3402f;
    padding: 10px;
}

.logo:hover{
    background-color: #571a11;
    transition: 0.2s;
}

.box-header li a{
    text-decoration: none;
    color:#e8e2d698;
    font-weight: 300;
    font-size: 0.9rem;
    position: relative;
}

.box-header li a:hover::before{
    content: '';
    position: absolute;
    height: 1px;
    top: 25px;
    width: 100%;
    background-color: var(--creme);
    transition: 1s;
}

.btn-reserva{
    border: 1px solid #e8e2d698;
    padding: 10px;
    font-family: var(--font-family2);
    text-decoration: none;
    text-transform: uppercase;
    color: #e8e2d698;
}

.btn-reserva:hover{
    background-color: #b3402f;
    color: rgba(228, 226, 222, 0.596);
    border: none;
    transition: 0.3s;
}